:root {
    --player-background-color: rgba(169, 169, 169, 0.862);
    --page-background-color: rgba(169, 169, 169, 0.555);
    --board-background-color: rgba(0, 0, 0, 0.679);
    --player-input-background-color: rgba(255, 160, 122, 0.302);
    --square-background-color: rgba(255, 182, 193, 0.197);
    --disabled-square-background-color: rgba(108, 108, 224, 0.598);
    --win-square-background-color: rgba(255, 255, 125, 0.688);
    --modal-background-color: rgba(255, 160, 122, 0.722);
    --modal-font-color: rgb(63, 59, 59);
    --unplayed-square-background-color: rgba(128, 128, 128, 0.268);
    --player-one-color: rgb(206, 92, 212);
    --player-one-icon-border: 1px solid lightcoral;
    --player-two-color: rgb(38, 104, 123);
    --player-two-icon-border: 1px solid rgb(128, 240, 201);
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.game-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas: 
      "player-one header player-two"
      "player-one board player-two"
      "player-one footer player-two";
}

.header {
  grid-area: header;
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  background-color: var(--page-background-color)
}

.player-names {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    gap: 10px;
    font-size: 1rem;
    border: 1px solid var(--player-background-color);
    background-color: var(--player-input-background-color)
}

.player-one-inp {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
  
.player-two-inp {
    grid-row: 2 / 3
}

.game-msg {
    grid-column: 1 / 3;
}

.hide {
    display: none;
}

.player-one-container {
  grid-area: player-one;
}

.player-two-container {
  grid-area: player-two; 
}

.player-one-container,
.player-two-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 400px;
  background-color: var(--player-background-color)
}

.player-name {
    font-size: 2rem;
    word-wrap: break-word;
    text-wrap: wrap;
}

.player-symbol {
    font-size: 48px;
    border-radius: 20px;
    padding: 10px;
}

.player-one-container .player-symbol {
    color: var(--player-one-color);
}

.player-two-container .player-symbol {
    color: var(--player-two-color);
}

.player-icon {
    height: 50px;
    width: 50px;
    filter: invert(100%);
}

.player-icon-background {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    place-content: center;
    text-align: center;
}

.player-one-container .player-icon-background {
    background-color: var(--player-one-color);
    border: var(--player-one-icon-border);
}

.player-two-container .player-icon-background {
    background-color: var(--player-two-color);
    border: var(--player-two-icon-border);
}

.footer {
    grid-area: footer;
    text-align: center;
    background-color: var(--page-background-color);
    place-content: center;
}

.footer button {
    font-size: 2rem;
    border: none;
    border-radius: 20px;
    padding: 15px 25px;
    margin: 10px;
}

  
.board-container {
  grid-area: board;
  border: 2px solid black;
}

.square-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.square {
    background-color: var(--square-background-color);
    border: 1px solid black;
    color: black;
}
  
.square:disabled {
    background-color: var(--disabled-square-background-color);
}
  
.square.win-square {
    background-color: var(--win-square-background-color);
}

.modal-outer {
    display: grid;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
}
  
.modal-inner {
    max-width: 600px;
    min-width: 400px;
    padding: 2rem;
    border-radius: 20px;
    min-height: 200px;
    font-size: 3rem;
    text-align: center;
    align-content: center;
    text-wrap: wrap;
    overflow: auto;
    color: var(--modal-font-color);
    background-color: var(--modal-background-color);
    font-weight: bold;
}
  
.modal-outer.open {
    opacity: 1;
}

.square.disabled {
    background-color: var(--unplayed-square-background-color);
}